# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore data folder (sample images, temporary files)
data/

# Ignore outputs folder (generated 3D files)
outputs/

# Ignore system files
.DS_Store
Thumbs.db
